body {
  background-image: url("pic/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}
.card-title {
  text-align: center;
  margin-top: 60px;
  font-size: 10px;
}
.card-title,
.card-text {
  position: relative;
  right: 7px;
  font-weight: 500;
  color: brown;
}
.appborder {
  margin: 30px auto;
  padding: 40px;
  border-radius: 20px;
  max-width: 450px;
  max-height: 450px;
  background-color: rgb(255, 255, 255);
}

.temperature-number {
  font-size: 40px;
  margin-left: 0px;
}
.units {
  position: relative;
  bottom: 19px;
}
.city-name {
  text-align: left;
  font-size: 40px;
  display: inline;
  margin: 0px auto;
}
.overview {
  margin-bottom: 15px;
}
city-input {
  font-size: 40px;
}
